
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td, iframe {
  margin: 0;
  padding: 0;
}
img, article, aside, details, figcaption, figure, footer, header, menu, nav, section, summary, time, mark, audio, video {
  display: block;
  margin: 0;
  padding: 0;
}
a {
  color: #4078c0;
  text-decoration: none;
}
body, html {
  height: 100%;
}
body {
  font-family: 'Helvetica Neue',Helvetica,'PingFang SC','Hiragino Sans GB','Microsoft YaHei',SimSun,sans-serif;
}
.mobile-container {
  height: 100%;
  overflow: auto;
  background: #f8f8f8;
  position: relative;
  -webkit-overflow-scrolling: touch;
}
.page-back {
  display: inline-block;
  position: absolute;
  top: 12px;
  left: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  color: #333;
  -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
}
.page-back i {
  font-size: 24px;
  line-height: 40px;
}
.demo-title {
  font-size: 16px;
  display: block;
  line-height: 1;
  padding: 20px 15px 0;
}
.demo-sub-title {
  font-size: 14px;
  font-weight: 400;
  color: #999;
  padding: 30px 5px 10px;
}
.footer {
  margin-top: 30px;
  width: 100%;
  padding: 10px 0 20px;
  background: #f8f8f8
}
.footer.footer-fixed {
    position: absolute;
    bottom: 0;
    left: 0;
}

.side-nav {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 90px 15px 20px;
  position: relative;
  z-index: 1;
}
.side-nav .vui-title, .side-nav .vui-desc {
  text-align: center;
  font-weight: 400;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.side-nav .vui-title {
  padding-top: 40px;
  height: 0;
  overflow: hidden;
  background: url(https://raw.githubusercontent.com/xuqiang521/vui/master/src/assets/logo.png) center center no-repeat;
  background-size: 40px 40px;
  margin-bottom: 10px;
}
.side-nav .vui-desc {
  font-size: 14px;
  color: #666;
  margin-bottom: 50px;
}

.mobile-nav-group {
    border-radius: 2px;
    margin-bottom: 15px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}
.mobile-nav-group li {
    list-style: none;
}
.mobile-nav-group ul {
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.mobile-nav-group__basetitle {
      padding-left: 20px;
}
.mobile-nav-group__title {
      font-size: 16px;
      color: #333;
      line-height: 56px;
      position: relative;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}
.mobile-nav-group__title a {
    color: #333;
    display: block;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    padding-left: 20px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.mobile-nav-group__title a > p {
    border-top: 1px solid #e5e5e5;
}
.mobile-nav-group__title a:active {
    background: #ECECEC;
}
.mobile-nav-group__title--open {
        color: #38f;
}
.mobile-nav-group__list-wrapper {
      height: 0;
      overflow: hidden;
}
.mobile-nav-group__list-wrapper--open {
        height: auto;
}
.mobile-nav-group__list {
      -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
      -webkit-transition: -webkit-transform .2s ease-out;
      transition: -webkit-transform .2s ease-out;
      transition: transform .2s ease-out;
      transition: transform .2s ease-out, -webkit-transform .2s ease-out;
}
.mobile-nav-group__list--open {
        -webkit-transform: translateY(0);
            transform: translateY(0);
}
