










































/* #app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
} */

.page-header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}
.page-header__top {
      overflow: hidden;
      height: 60px;
      background-color: #fbfbfb;
      -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
              box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
}
.page-header__logo {
      float: left;
}
.page-header__logo > a {
    display: block;
    /* width: 78px; */
    height: 40px;
    line-height: 40px;
    background-image: url(https://raw.githubusercontent.com/xuqiang521/vui/master/src/assets/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 10px 0 0 20px;
    padding-left: 45px;
    font-size: 25px;
    font-family: monospace;
    color: #2c3e50;
}
.page-header__navs {
      float: right;
}
.page-header__item {
      float: left;
      height: 50px;
}
.page-header__subnavs {
      line-height: 50px;
      display: -ms-flexbox;
      display: -webkit-box;
      display: flex;
      -ms-flex-pack: center;
          -webkit-box-pack: center;
          justify-content: center;
      background-color: #f2f2f2;
      position: relative;
      z-index: -1;
}
.page-header__subnavs a, .page-header__subnavs span {
    line-height: 50px;
}
.page-header__subnavs--shadow {
        -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
                box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
}
.page-header__link {
      display: block;
      line-height: 60px;
      color: #333;
      font-size: 16px;
      margin: 0 20px;
}
.page-header__link:hover {
        color: #3388FF;
}
.page-header__link--active {
        color: #3388FF;
}
.page-header__github {
      display: inline-block;
      width: 22px;
      height: 60px;
      overflow: hidden;
      background-image: url(https://img.yzcdn.cn/upload_files/2017/03/30/Fil9peDfgzvk3kj-oFCsElS4FS1x.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position-y: 17px;
}

.side-nav {
	-ms-flex: 0 0 250px;
	    -webkit-box-flex: 0;
	    flex: 0 0 250px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 40px 0;
	border-right: 1px solid #e5e5e5;
}
.side-nav li {
	list-style: none;
}
.side-nav ul {
	padding: 0;
	margin: 0;
	overflow: hidden;
}
.side-nav .nav-item a {
	font-size: 16px;
	color: #333;
	line-height: 40px;
	height: 40px;
	margin: 0;
	padding: 0;
	text-decoration: none;
	display: block;
	position: relative;
	-webkit-transition: all .3s;
	transition: all .3s;
	padding: 0 20px
}
.side-nav .nav-item a.active {
	color: #3388FF;
	background-color: #F2F2F2;
}
.side-nav .nav-item .nav-item a {
	display: block;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	padding-left: 44px
}
.side-nav .nav-item .nav-item a:hover {
	color: #3388FF;
}
.side-nav .nav-group__title {
	font-size: 12px;
	color: #666;
	padding-left: 28px;
	line-height: 26px;
	margin-top: 10px;
}

.footer-nav {
    padding: 24px 40px;
    overflow: hidden;
    border-top: 1px solid #e5e5e5
}
.footer-nav__link {
      color: #333;
      overflow: hidden;
      position: relative;
      font-size: 14px;
      line-height: 1.5
}
.footer-nav__link:hover {
      color: #38f
}
.footer-nav__left {
      float: left
}
.footer-nav__right {
      float: right
}
